<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Real-Time Chat</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/login.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
        <div class="row text-center pad-top ">
            <div class="col-md-12">
                <h2>Real-Time Chat Login</h2>
            </div>
        </div>
        <div class="row pad-top">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>  Login </strong>
              </div>
              <div class="panel-body">
                <form role="form" method="post" action="/login">
                <div class="form-group input-group">
                  <span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
                  <input type="text" class="focused required form-control" name="username" placeholder="Your Username " />
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                  <input type="password" class="focused required form-control" name="password" placeholder="Your Password" />
                </div>
                <div class="form-group">
                  <label class="checkbox-inline"> <input type="checkbox" /> Remember me</label>
                  <span class="pull-right">
                    <a href="#" >Forget password ? </a>
                  </span>
                </div>
                <button type="submit" class="btn btn-success">Login Now</button>
                <hr /> Not register ? <a href="/signup" >click here </a>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>